In [1]:
import numpy as np
import pandas as pd

In [2]:
brand1 = pd.read_csv('../data/brand/2017/2017_1.csv',index_col=0) 
brand2 = pd.read_csv('../data/brand/2017/2017_2.csv',index_col=0)
brand3 = pd.read_csv('../data/brand/2017/2017_3.csv',index_col=0)

In [3]:
brand1.drop(brand1[brand1['0'] == '평균'].index, inplace=True)

In [4]:
brand1.head()

         0            1           2       3      4      5
1       본죽     본아이에프(주)  2002.12.31  15년7개월  1,178  192 명
2       한솥        (주)한솥  1993.07.07  25년1개월    673  134 명
3   고봉민김밥人         케이비엠  2011.12.01   6년8개월    658    6 명
4   놀부부대찌개        (주)놀부  1992.02.01  26년6개월    480  311 명
5  큰맘할매순대국  (주)보강엔터프라이즈  2014.02.05   4년6개월    349    5 명

In [5]:
brand2.drop(brand2[brand2['0'] == '평균'].index, inplace=True)

In [6]:
brand2.head()

,0,1,2,3,4,5,6,7,8
1,본죽,본아이에프(주),"1,178",34.0,0.0,46.0,66.0,"201,456(0.51)","16,923(0.04)"
2,한솥,(주)한솥,673,49.0,12.0,30.0,55.0,"296,124(0.74)","21,901(0.05)"
3,고봉민김밥人,케이비엠,658,77.0,0.0,19.0,82.0,"204,349(0.51)","3,933(0.01)"
4,놀부부대찌개,(주)놀부,480,44.0,71.0,0.0,32.0,0(0.00),0(0.00)
5,큰맘할매순대국,(주)보강엔터프라이즈,349,87.0,0.0,12.0,24.0,"324,486(0.81)","12,848(0.03)"

In [8]:
brand3.drop(brand3[brand3['0'] == '평균'].index, inplace=True)

In [9]:
brand3.head()

,0,1,2,3,4,5,6,7,8,9,중분류
1,누들박스,(주)누들박스,"19,800","16,500","20,000","1,143,500","1,199,800(10.82)","2,750",66,"55,000",한식
2,포항물회,햇살바다(주),"5,500","2,200","3,000","760,300","771,000(6.95)","1,650",66,"33,000",한식
3,G글G글오돌구이,(주)나눔에프씨,"11,000","5,500","3,000","731,150","750,650(6.77)","1,760",66,"35,200",한식
4,하누소,(주)하누소푸드시스템,"33,000","1,100","20,000","681,670","735,770(6.63)","2,420",495,"363,000",한식
5,무한한판8.8,(주)조은세상에프앤씨,"11,000","3,300","3,000","634,500","651,800(5.88)","16,500",99,"495,000",한식

In [10]:
brand1.columns = ['브랜드','상호','가맹사업 개시일','가맹사업 년수','가맹점수','가맹본부 임직원수']
brand2.columns = ['브랜드_2','상호_2','가맹점수_2','신규개점','계약종료','계약해지','명의변경','가맹점 평균매출액(매출액지수)','가맹점 면적(3.3㎡)당 평균매출액(평균 매출액지수)']
brand3.columns = ['브랜드_3','상호_3','가입비(가맹비)','교육비','보증금', '기타비용(인테리어 비용포함)', '합계 (창업비용 지수)', '인테리어비용 면적당(3.3㎡) 비용', '인테리어비용 기준면적 (㎡)', '인테리어비용 총 비용','중분류']

In [12]:
brand1.shape, brand2.shape, brand3.shape

((4332, 6), (4332, 9), (4332, 11))

In [17]:
brand12 = pd.merge(brand1,brand2, left_on=["브랜드",'상호'], right_on=["브랜드_2",'상호_2'], how="left")
brand123 = pd.merge(brand12,brand3, left_on=["브랜드",'상호'], right_on=["브랜드_3",'상호_3'], how="left")
del brand123['상호_2']
del brand123['상호_3']
del brand123['브랜드_2']
del brand123['브랜드_3']
del brand123['가맹점수_2']
# #del b2016['중분류_2']
# #del b2016['중분류_3']
brand123.shape

(4332, 21)

In [18]:
brand123.head()

,브랜드,상호,가맹사업 개시일,가맹사업 년수,가맹점수,가맹본부 임직원수,신규개점,계약종료,계약해지,명의변경,...,가맹점 면적(3.3㎡)당 평균매출액(평균 매출액지수),가입비(가맹비),교육비,보증금,기타비용(인테리어 비용포함),합계 (창업비용 지수),인테리어비용 면적당(3.3㎡) 비용,인테리어비용 기준면적 (㎡),인테리어비용 총 비용,중분류
0,본죽,본아이에프(주),2002.12.31,15년7개월,"1,178",192 명,34.0,0.0,46.0,66.0,...,"16,923(0.04)","13,530","6,600","3,000","43,230","66,360(0.60)","1,870",33,"18,700",한식
1,한솥,(주)한솥,1993.07.07,25년1개월,673,134 명,49.0,12.0,30.0,55.0,...,"21,901(0.05)","5,500","3,300","3,000","78,000","89,800(0.81)","2,200",49.5,"33,000",한식
2,고봉민김밥人,케이비엠,2011.12.01,6년8개월,658,6 명,77.0,0.0,19.0,82.0,...,"3,933(0.01)","5,500","2,200","2,000","53,900","63,600(0.57)","1,650",49.5,"24,750",한식
3,놀부부대찌개,(주)놀부,1992.02.01,26년6개월,480,311 명,44.0,71.0,0.0,32.0,...,0(0.00),"8,800","5,500","7,000","79,806","101,106(0.91)","1,439",82.5,"35,970",한식
4,큰맘할매순대국,(주)보강엔터프라이즈,2014.02.05,4년6개월,349,5 명,87.0,0.0,12.0,24.0,...,"12,848(0.03)","5,500","3,300","3,000","84,650","96,450(0.87)","1,540",99,"46,200",한식

In [19]:
brand123.columns

Index(['브랜드', '상호', '가맹사업 개시일', '가맹사업 년수', '가맹점수', '가맹본부 임직원수', '신규개점', '계약종료',
       '계약해지', '명의변경', '가맹점 평균매출액(매출액지수)', '가맹점 면적(3.3㎡)당 평균매출액(평균 매출액지수)',
       '가입비(가맹비)', '교육비', '보증금', '기타비용(인테리어 비용포함)', '합계 (창업비용 지수)',
       '인테리어비용 면적당(3.3㎡) 비용', '인테리어비용 기준면적 (㎡)', '인테리어비용 총 비용', '중분류'],
      dtype='object')

In [20]:
brand123.to_excel("2017.xlsx",index=False)